* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    height: 70vh;
    background-image: url("bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    z-index: 10;
    position: relative;
    width: 144px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 62px);
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
      font-family: sans-serif;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
      font-family: sans-serif;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
      font-family: sans-serif;

}

.seper {
    height: 7px;
    background-color: rgb(52, 49, 49);

}

.btn {
    padding: 3px 8px;
    background-color: white;
    font-size: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
      font-family: sans-serif;

}

.btn_red1 {
    background-color: red;
    color: white;
    font-weight: bolder;




}

.btn_red2 {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;

}

.main input {
    font-size: 13px;
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(23, 23, 23, 0.5);
    font-weight: 900;
    color: white;


}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn0 {
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    font-weight: bolder;

}

.first {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: auto;
    color: white;
    align-items: center;
    gap: 20px 20px;
    padding: 50px 10%;
    position: relative;

}

.txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secimg img {
    width: 16vw;
    position: relative;
    z-index: 10;
}



/* .secimg video {
    position: absolute;
    width: 30vw;
    height: 283px;
    
    left: 0%;
} */
   
   



.tv-frame {
    position: relative;
    width: 600px;
    height: 400px;
    border: 30px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
  }

  .tv-frame::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
    background: #333;
    border-radius: 5px;
  }

  video {
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    object-fit: cover;
    z-index: -1;
  }
  .txt1{
    font-size: 42px;
    font-weight: bolder;
    font-family: sans-serif;
  }
  .txt2{
    font-size: 24px;
      font-family: sans-serif;
    
  }
.fifth{

width: 70vw;
margin: 20px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 7px;

    
  }
 
   .item {
    color: white;
    background-color:#333;
    width: 57vw;
    height: 60px;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    padding: 0 15px;
   font-family: sans-serif;
   cursor: pointer;

  }
  .item1{
   background-color: black;
  display: flex;
  justify-content: center;
 font-size: 1.6rem;
 
 
  }
  .item:hover{
    background-color: grey;
    transition: 0.5s;
  }
.fifth .item1 h1{


    font-size: 35px;

  }
